$brdR20: 20px;

.Mrg0 {
  margin: 0;
}

.MsgWithDate {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.FromUser {
  width: 95%;
  display: flex;
  align-items: center;

  .Msg {
    border-radius: $brdR20;
    background: #3C4252;
    text-align: center;
    color: white;
  }

  h6 {
    display: flex;
    justify-content: left;
  }
}

.ToUser {
  display: flex;
  justify-content: flex-end;
  width: 95%;

  .Msg {
    border-radius: $brdR20;
    background: #E0E0E0;
    text-align: center;
  }

  h6 {
    display: flex;
    justify-content: right;
  }
}

