$brdR20: 20px;

.MsgWithDate {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.FromUser {
  width: 95%;
  display: flex;

  .Msg {
    border-radius: $brdR20;
    background: #3C4252;
    text-align: center;
    color: white;
    padding: 3px;
  }

  h6 {
    display: flex;
    justify-content: left;
    margin: 0;
  }
}

.ToUser {
  display: flex;
  justify-content: flex-end;
  width: 95%;


  .Msg {
    border-radius: $brdR20;
    background: #E0E0E0;
    text-align: center;
    overflow-wrap: break-word;
    padding: 3px;
  }

  h6 {
    display: flex;
    justify-content: right;
    margin: 0;
  }
}

